/*generalno za sve stranice*/
header {
    display: block;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}
.navigacija {
    position: relative;
    height: 50px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: black;
    overflow: hidden;
}
.navbar {
    position: relative;
    padding: 0;
    margin: 0;
    justify-content: center;
}
li {
    display: inline;
    float: left;
}
li a {
    display: block;
    width: 60px;
    text-decoration: none;
    color: white;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
li a:hover {
    color: black;
    background-color: white;
}

.ikona {
    width: 2%;
    padding: 6px;
}

footer {
    clear: both;
    padding: 10px;
    text-align: center;
    background-color: black;

}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 10px;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
main h1 {
    color: white;
    background: black;
    margin-bottom: 10px;
    padding: 10px 0 10px 0;
    text-align: center;
}



/*index.html*/
.index-figure{
    border: 3px solid black;
    width: 80%;
    margin: auto;
    text-align: center;
}
.index-figure img{
    width: 90%;
    padding: 3px;
}
.index-figure figcaption{
    width: 100%;
    padding-bottom: 5px;
}
/*about.html*/
/*news.html*/
/*jelo-x.html*/
.wrapper {
    padding: 5px;
    display: inline-block;
}
.wrapper figure {
    margin: 10px;
    width: 40%;
    padding: 5px;
    float: left;
    border: 1px solid black;
}

.wrapper figure img {
    position: relative;
    width: 100%;
}

.clanak {
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.clanak h2 {
    color: darkred;
}

.clanak h3 {
    color: green;
}

.clanak p {
    line-height: 30px;
}
.tekst-clanka {
    column-count: 3;
}
/*gallery.html*/
/*contact.html*/








video {
    margin: 10px 10px 10px 10px;
    float: left;
    border: 10px solid black;
}

source {
    position: relative;
    margin: 5px;
}

input[type=text], input[type=email], textarea, select {
    width: 30%;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 90%;
}


.div-slika {
    padding: 0;
    margin: 0;
}

.slika {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 900px;
    width: 100%;
}
.lorem_slika figcaption {
    position: relative;
    width: 100%;
}

figcaption {
    font-size: 80%;
}

.mapa {
    padding-bottom: 20px;
}
.kontakt_forma {
    text-align: center;
}
label {
    display: inline-block;
    width: 75px;
    text-align: left;
}

.div-slika {
    padding: 0;
    margin: 0;
}

.slika {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 240px;
    object-fit: cover;
    width: 100%;
}




.news-slika figcaption {
    position: relative;
    width: 100%;
}





.clanci a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    display: inline;
}
.clanci h2 {
    text-decoration: none;
    color: black;
}
.clanak_thumbnail {
    margin-left: 10px;
    margin-right: 10px;
    width: 10%;
    float: left;
}
.sazetak {
    width: 75%;
    height: 45px;
}
.news hr {
    clear: both;
}
.slike {
    display: inline-block;
    align-items: center;
}

.slike figure {
    height: 350px;
    width: 25%;
    margin: 10px;
    border: 1px solid black;
    align-items: center;
    float: left;
}
.slike img {
    position: relative;
    width: 94%;
    padding: 3%;
}
.slike figcaption {
    position: relative;
    font-size: 90%;
    padding-left: 3%;
    padding-bottom: 5px;
    ;
}

@media screen and (max-width: 900px) {
    .navigacija {
        align-content: center;
        height: 250px;
    }
    li a {
        display: inline-block;
        width: 100%;
    }
    li {
        display: inline-block;
        float: none;
        width: 100%;
        text-align: center;
    }
    main {
        padding: 10px;
    }
    main h1{
        letter-spacing: 0;
    }
    main p {
        letter-spacing: 0px;
        font-size: 90%;
    }
    footer p {
        font-size: 90%;
    }
    video {
        float: none;
        display: block;
        width: 95%;
        margin: auto;
    }
    .clanak_thumbnail {
        width: 90%;
        float: none;
        object-fit: cover;
        background-position: center;
        height: 100px;
        margin-top: 10px;
    }
    .vijest_link {
        margin-left: 10px;
    }
    time {
        font-style: italic;
    }  
    input[type=text], input[type=email], textarea, select {
        width: 90%;
       
    }
    label{
        display: inline-block;
        width: 90%;
        text-align: center;
        margin-top: 15px;
    } 
    /*slika prije odlomka u index.html*/
    .index-figure{
        width: 100%;
        padding: 10px 0 10px 0;
        margin: 0 0 10px 0;
        text-align: center;
    }
    .index-figure img{
        width: 95%;
        margin: auto;
    }
    .index-figure figcaption{
        padding: 0 5px 0 5px;
    }

    /*galerija slika*/
    .slike figure{
        width: 90%;
        height: 30%;
    }
    .slike figure figcaption{
        font-size: 80%;
    }
    /*specificno jelo*/
    .tekst-clanka {
        column-count: 1;
    }
    .wrapper{
        text-align: center;
    }
    .wrapper figure{
        width: 95%;
        height: 25%;
    }
}